@import "src/theme";

.mention-wrapper {
  height: 16px;
  padding-right: 4px;
  border-right: 1px solid;
  display: flex;
  align-items: center;
  font-style: italic;
  animation: 0.8s blink step-end infinite;
  mat-icon {
    margin-right: 4px;
    transition: opacity 0.2s ease-in-out;
  }
}

@keyframes blink {
  from,
  to {
    border-right: 1px solid transparent;
  }
  50% {
    border-right: 1px solid $dark;
  }
}
