<app-loader *ngIf="isLoading"></app-loader>

<app-toolbar *ngIf="!isLoading" (toggle)="toggleMenu($event)"></app-toolbar>
<div *ngIf="!isLoading"
class="home-wrapper col"
  [class.main-view]="isMainView && !isMenuView && !isFullView "
  [class.full-view]="isFullView"
  [class.menu-view]="isMenuView">
  <div class="dark-wrapper"></div>
  <div class="gold-wrapper-parent col">
    <router-outlet></router-outlet>
    <div *ngIf="!isMenuView" class="button-wrapper">
      <app-mention *ngIf="isMainView"></app-mention>
      <button *ngIf="isFullView" mat-mini-fab color="primary" (click)="setView('main')">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button *ngIf="isMainView" mat-mini-fab color="primary" (click)="setView('full')">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</div>
