@import "src/theme";

@mixin set-size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flex-center {
  @include set-size(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  &.col {
    flex-direction: column;
  }
}

@mixin background-linear($color) {
  @if $color == "gold" {
    background: linear-gradient(to top, $gold, $gold-alt);
    color: $dark;
  } @else if $color == "dark" {
    background: linear-gradient(to top, $dark, $dark-alt);
    color: $gold;
  } @else {
    @error "[ERROR] Unknown color #{$color}";
  }
}

@mixin corner-border($color, $placement, $placement-alt) {
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $color;
    #{$placement}: -12px;
    #{$placement-alt}: -12px;
  }
  &::before {
    @include set-size(1px, 40px);
  }
  &::after {
    @include set-size(40px, 1px);
  }
}