@import 'src/media';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  * {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    .heading {
      font-family: "Righteous", cursive;
    }
  }
}
