@import "src/mixins";
@import "src/theme";

$bio-wrapper-size: 280px;
$photo-wrapper-size: 200px;
$dark-area: calc(56px + 44px + (#{$photo-wrapper-size} / 2));
$header-area: 56px;
$menu-area: calc(100% - 80px);

.home-wrapper {
  @include flex-center;
  height: calc(200% - #{$dark-area});
  transition: all 0.8s ease-in-out;
  .dark-wrapper {
    @include flex-center;
    @include background-linear("dark");
    height: calc((100% + #{$dark-area}) / 2);
    flex-shrink: 0;
    transition: all 0.8s ease-in-out;
  }
  .gold-wrapper {
    @include flex-center;
    @include background-linear("gold");
    justify-content: flex-start;
    height: calc(2 * (100% - #{$dark-area}));
    transition: all 0.8s ease-in-out;
    position: relative;
    .photo-wrapper {
      @include set-size($photo-wrapper-size);
      position: absolute;
      opacity: 0;
      top: calc(#{$photo-wrapper-size} / 2);
      transition: all 0.8s ease-in-out;
      .photo {
        height: 100%;
        background-image: url("src/assets/profile.jpg");
        background-size: cover;
        @include corner-border($gold, top, left);
      }
      @include corner-border($dark, bottom, right);
    }
    .bio-wrapper {
      width: $bio-wrapper-size;
      margin-top: calc((#{$photo-wrapper-size} / 2) + 20px);
      opacity: 0;
      transition: all 0.8s ease-in-out;
      .heading {
        font-size: large;
      }
      .bio {
        margin-top: 16px;
        line-height: 160%;
      }
    }
    .button-wrapper {
      position: absolute;
      bottom: 20px;
      width: calc(100% - 40px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.4s 0.4s ease-in-out;
    }
  }
}

@keyframes blink {
  from,
  to {
    border-right: 1px solid transparent;
  }
  50% {
    border-right: 1px solid $dark;
  }
}

.home-wrapper.main-view {
  height: 100%;
  .dark-wrapper {
    height: $dark-area;
  }
  .gold-wrapper {
    height: calc(100% - #{$dark-area});
    .photo-wrapper {
      top: calc(-#{$photo-wrapper-size} / 2);
      opacity: 1;
    }
    .bio-wrapper {
      opacity: 1;
    }
  }
}

.home-wrapper.full-view {
  height: 100%;
  .dark-wrapper {
    height: $header-area;
  }
  .gold-wrapper {
    height: calc(100% - #{$header-area});
    .button-wrapper {
      transition: all 0.4s ease-in-out;
      button:not(:last-child) {
        opacity: 0.5;
      }
    }
  }
}

.home-wrapper.menu-view {
  height: 100%;
  .dark-wrapper {
    height: $menu-area;
  }
  .gold-wrapper {
    height: calc(100% - #{$menu-area});
    .button-wrapper {
      transition: all 0.4s ease-in-out;
      opacity: 0;
    }
  }
}
