<div class="gold-wrapper col" [class.main-view]="isMainView">
  <div *ngIf="areComponentsVisible" class="photo-wrapper">
    <div class="photo"></div>
  </div>
  <div *ngIf="areComponentsVisible" class="bio-wrapper">
    <div class="heading">Hello, my name is Chirag...</div>
    <div class="bio">
      I am a<br />
      - Cloud Engineer<br />
      - DevOps Practioner<br />
      - Full Stack Developer<br />
      - & also UI/UX Enthusiast<br />
    </div>
    <div class="bio">
      This is my personal website.<br />
      Built in quarantine, from scratch.<br />
    </div>
    <div class="bio">
      I would love to hear some feedback. Thanks..
    </div>
  </div>
</div>