@import "src/mixins";
@import "src/theme";
@import "../app.component.scss";

:root {
  @include set-size(100%);
}

.gold-wrapper {
  @include flex-center;
  justify-content: flex-start;
  transition: all 0.8s ease-in-out;
  position: relative;
  .photo-wrapper {
    @include set-size($photo-wrapper-size);
    position: absolute;
    opacity: 0;
    top: calc(#{$photo-wrapper-size} / 2);
    transition: all 0.8s ease-in-out;
    .photo {
      height: 100%;
      background-image: url("src/assets/profile.jpg");
      background-size: cover;
      @include corner-border($gold, top, left);
    }
    @include corner-border($dark, bottom, right);
  }
  .bio-wrapper {
    width: $bio-wrapper-size;
    margin-top: calc((#{$photo-wrapper-size} / 2) + 20px);
    opacity: 0;
    transition: all 0.8s ease-in-out;
    .heading {
      font-size: large;
    }
    .bio {
      margin-top: 16px;
      line-height: 160%;
    }
  }
}

.gold-wrapper.main-view {
  .photo-wrapper {
    top: calc(-#{$photo-wrapper-size} / 2);
    opacity: 1;
  }
  .bio-wrapper {
    opacity: 1;
  }
}
